h2 {
    margin-top: 20px;
}

h1 {
    margin-top: 20px;
}

form .btn{
    margin-top: 12px;
}
a {
    color: inherit; /* blue colors for links too */
    text-decoration: none; /* no underline */
  }
  

form label{
    margin-top: 8px;
    margin-bottom: 4px;
}

form select{
    margin-bottom: 10px;
}

.col img {
    margin-left: 4px;
    margin-right: 2px;
}