{% extends "AdvancedDict/layout.html" %}
{% load static %}
{% load tags_extra %}

{% block body %}
<div class="container-lg">
{% if user.is_authenticated %}
{% if page.number == 1%}
    <form method="post" style="margin-top: 40px; margin-bottom: 0px;" action="{% url 'index' %}">
        {% csrf_token %}
        {{ form }}
        <br>
        <input type="submit" class="btn btn-outline-primary">
    </form>
    {% endif %}
    {% if page %} <br><h1 style="margin-bottom: 20px;">Words</h1>
    <div class="row align-items-start" data-id="{{word.id}}">
        <div class="row">
            
            <div class="col-2" style="width: 16%;"><h5>From</h5></div>
            <div class="col-2"><h5>To</h5></div></div></div><hr style="margin-top: 4px;">
    {% endif%}
    <div style="margin-top: 5px;">
    {% for word in page %}
    <div class="row align-items-center" data-id="{{word.id}}" st>
        <div class="row align-items-center">

            <div class="col-2" style="width: 16%;">
            <img src="https://flagcdn.com/48x36/{{ dict|newitem:word.sourceLanguage }}.png" alt="{{ word.get_sourceLanguage_display }} Flag" height="16">
            <!--{{word.get_sourceLanguage_display}}-->
            <strong class="wordText">{{word.text|capfirst}}</strong></div>
 
            <div class="col-3">
            <img src="https://flagcdn.com/48x36/{{ dict|newitem:word.targetLanguage }}.png" alt="{{ word.get_targetLanguage_display }} Flag" height="16">
            {{word.get_targetLanguage_display}}
            <span class="wordTranslation"  style="text-transform: capitalize;">
            <strong>{{word.translation_edited|capfirst}}</strong>
            <span class="forform"></span>
            </span><span class="translation" data-translation="{{word.translation}}" style="text-transform: capitalize;"></span></div>
            <div class="col buttoncol" style="text-align: right; margin-right: 12px;">
                <button class="btn btn-outline-primary btn-sm" style="margin-right: 2px;">Translation</button>
                <button class="btn btn-outline-secondary btn-sm" style="margin-right: 2px;">Edit</button>
                <button class="btn btn-outline-danger btn-sm">Delete</button>
            </div>
        </div>
        <hr style="margin-top: 12px;">
    </div>
    {%empty%}
    <br><h4 style="margin-top: 36px;">Words you add will display here...</h4><hr>
    {% endfor%}
    </div>
    <!--Paginator-->
    {% if page.paginator.num_pages > 1 %} 
    <div class="pagination" style="margin-top: 24px;">
        <span class="step-links">
            <ul class="pagination justify-content-center"">
            {% if page.has_previous %}
                <li class="page-item"><a class="page-link" href="?page=1">First</a></li>
                <li class="page-item"><a class="page-link" href="?page={{ page.previous_page_number }}" aria-label="Previous">{{ page.previous_page_number }}</a></li>
                <!--<a href="?page={{ page.previous_page_number }}">previous</a>-->
            {% endif %}

            <span class="current">
                <li class="page-item active"><a class="page-link" href="?page={{ page }}" aria-label="Previous">{{ page.number }}</a></li>
            </span>

            {% if page.has_next %}
            <!--<a href="?page={{ page.next_page_number }}">next</a>
            <a href="?page={{ page.paginator.num_pages }}">last &raquo;</a>-->
            <li class="page-item"><a class="page-link" href="?page={{ page.next_page_number }}" aria-label="Previous">{{ page.next_page_number }}</a></li>
            <li class="page-item"><a class="page-link" href="?page={{ page.paginator.num_pages }}">Last</a></li>
            {% endif %}
        </span>
          </ul>
    </div>
    {% endif %}

{% endif %}
</div>
{% endblock %}