{% extends "AdvancedDict/layout.html" %}
{% load static %}

{% block body %}
<div class="container-lg">
{% if user.is_authenticated %}
    <form method="post" style="margin-top: 40px;" action="{% url 'index' %}">
        {% csrf_token %}
        {{ form }}
        <br>
        <input type="submit" class="btn btn-outline-primary">
    </form>

    {% if words %} <br><h1>Words</h1><hr> {% endif%}

    {% for word in words %}
    <div class="row align-items-start" data-id="{{word.id}}">
        <div class="col">

            {{word.get_sourceLanguage_display|capfirst}}
            <strong class="wordText">{{word.text}}</strong>
            to
            {{word.get_targetLanguage_display}}
            <span class="wordTranslation">
            <strong data-translation="{{word.translation}}">{{word.translation_edited}}</strong>
            <span></span>
            </span>
        </div>
        <div class="col buttoncol" style="text-align: right; margin-right: 12px;">
            <button class="btn btn-outline-primary btn-sm" style="margin-right: 2px;">Translation</button>
            <button class="btn btn-outline-secondary btn-sm" style="margin-right: 2px;">Edit</button>
            <button class="btn btn-outline-danger btn-sm">Delete</button>
        </div>
        <hr style="margin-top: 12px;">
    </div>
    {%empty%}
    <br><h4 style="margin-top: 36px;">Words you add will display here...</h4><hr>
    {% endfor%}
{% endif %}
</div>
{% endblock %}