{% extends "AdvancedDict/layout.html" %}
{% load static %}
{% load tags_extra %}

{% block body %}
<div class="container-lg">
{% if user.is_authenticated %}
    <form method="post" style="margin-top: 40px;" action="{% url 'index' %}">
        {% csrf_token %}
        {{ form }}
        <br>
        <input type="submit" class="btn btn-outline-primary">
    </form>

    {% if words %} <br><h1 style="margin-bottom: 20px;">Words</h1>
    <div class="row align-items-start" data-id="{{word.id}}">
        <div class="row">
            
            <div class="col-2" style="width: 14%;"><h5>From</h5></div>
            <div class="col-2"><h5>To</h5></div></div></div><hr>
    {% endif%}

    {% for word in words %}
    <div class="row align-items-start" data-id="{{word.id}}">
        <div class="row">

            <div class="col-2" style="width: 14%;">
            <img src="https://flagcdn.com/48x36/{{ dict|newitem:word.sourceLanguage }}.png" alt="{{ word.get_sourceLanguage_display }} Flag" height="16">
            <!--{{word.get_sourceLanguage_display}}-->
            <strong class="wordText">{{word.text|capfirst}}</strong></div>
 
            <div class="col-2">
            <img src="https://flagcdn.com/48x36/{{ dict|newitem:word.targetLanguage }}.png" alt="{{ word.get_targetLanguage_display }} Flag" height="16">
            {{word.get_targetLanguage_display}}
            <span class="wordTranslation">
            <strong data-translation="{{word.translation}}">{{word.translation_edited|capfirst}}<span></span></strong>
            <span></span>
            </span></div>
        </div>
        <div class="col buttoncol" style="text-align: right; margin-right: 12px;">
            <button class="btn btn-outline-primary btn-sm" style="margin-right: 2px;">Translation</button>
            <button class="btn btn-outline-secondary btn-sm" style="margin-right: 2px;">Edit</button>
            <button class="btn btn-outline-danger btn-sm">Delete</button>
        </div>
        <hr style="margin-top: 12px;">
    </div>
    {%empty%}
    <br><h4 style="margin-top: 36px;">Words you add will display here...</h4><hr>
    {% endfor%}
{% endif %}
</div>
{% endblock %}