{% extends "AdvancedDict/layout.html" %}
{% load static %}
{% load tags_extra %}

{% block body %}
<script>
    addEventListener('DOMContentLoaded', ()=>{
        document.querySelectorAll('.block').forEach((parentblock) => {
            const cor = parentblock.getAttribute("data-correct")
            if (cor == 'True') {
                //pass
            } else {
                parentblock.style.backgroundColor  = '#ff7f7f   ';

            }
        })
        
    })

</script>

<div class="container-lg" style="margin-top: 30px;">
    <div class="row align-items-start">
    {% if user.is_authenticated %}
    <h6 style="opacity: 75%; font-weight: 400; margin-bottom: 2px;">{{quiz.timestamp}}</h6>
        <h1 style="margin-bottom: 4px; margin-top: 2px;">{{percent}}%</h1>
        <h4>{{quiz.score}} out of {{quiz.answers.count}}</h4>
        
    <br><h1 style="margin-bottom: 20px; margin-top: 40px;">Answers</h1>
    <div class="row align-items-start" >
        <div class="row">
            
            <div class="col-2" style="width: 16%;"><h5>Asked</h5></div>
            <div class="col-2"><h5>Answer</h5></div></div></div><hr style="margin-top: 4px; margin-bottom: 0px;">
    {% for answer in answers %}   
    <div class="row align-items-center block" data-correct="{{answer.correct}}" style="padding-bottom: 12px; padding-top: 12px; ">

        <div class="col-2" style="width: 16%;">
        <img src="https://flagcdn.com/48x36/{{ dict|newitem:answer.question.targetLanguage }}.png" alt="{{ answer.question.get_targetLanguage_display }} Flag" height="16">
        <!--{{word.get_sourceLanguage_display}}-->
        <strong class="wordText">{{answer.question.translation_edited|capfirst}}</strong></div>

      
        <div class="col-3">
        <img src="https://flagcdn.com/48x36/{{ dict|newitem:answer.question.sourceLanguage }}.png" alt="{{ word.get_sourceLanguage_display }} Flag" height="16">
        {{word.get_sourceLanguage_display}}
        <span class="wordTranslation"  style="text-transform: capitalize;">
        <strong data-translation="{{word.translation}}">{{answer.text}}<span></span></strong>
        <span></span>
        </span></div></div><hr style="margin-bottom: 0px;">
 
    {% endfor %}
    </div>
    <!--
    {% if page.paginator.num_pages > 1 %} 
    <div class="pagination" style="margin-top: 48px; margin-left: 7.7%">
        <span class="step-links">
            <ul class="pagination justify-content-center pagination-lg">
              
            {% if page.has_next %}
            <!--<a href="?page={{ page.next_page_number }}">next</a>
            <a href="?page={{ page.paginator.num_pages }}">last &raquo;</a>
            <li class="page-item"><a class="page-link" href="?page={{ page.next_page_number }}" aria-label="Next" style="border-width: 3px;">
                <span style="font-weight: 550; font-size: 20px;">Next</span></a></li>
            {% endif %}
        </span>
          </ul>
    </div>
    {% endif %}
    -->
{% endif %}
</div>
{% endblock %}

    <!--
    {% if page.paginator.num_pages > 1 %} 
    <div class="pagination" style="margin-top: 48px; margin-left: 7.7%">
        <span class="step-links">
            <ul class="pagination justify-content-center pagination-lg">
              
            {% if page.has_next %}
            <!--<a href="?page={{ page.next_page_number }}">next</a>
            <a href="?page={{ page.paginator.num_pages }}">last &raquo;</a>
            <li class="page-item"><a class="page-link" href="?page={{ page.next_page_number }}" aria-label="Next" style="border-width: 3px;">
                <span style="font-weight: 550; font-size: 20px;">Next</span></a></li>
            {% endif %}
        </span>
          </ul>
    </div>
    {% endif %}
    -->
